.child {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.parent {
    display: flex;
    flex-direction: row;
    width: 900px;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}