.task124_1p{
    width:170px;
    border:1px solid red;
}
.task124_1c{
    margin-top:    40px; 
	margin-right:  40px; 
	margin-bottom: 80px;
	margin-left:   40px; 
	
    height: 85px;
    border:1px solid green;
}
.task124_2p{

}