<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Myavka</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h2>245#1</h2>
        <div id="wrapper245_1">
            <div id="header245_1">
                header
            </div>
            <div id="container245_1">
                <div id="sidebar245_1">
                    sidebar
                </div>
                <div id="content245_1">
                    content
                </div>
            </div>
            <div id="footer245_1">
                footer
            </div>
        </div>

        <h2>245#2</h2>
        <div id="wrapper245_2">
            <div id="header245_2">
                header
            </div>
            <div id="container245_2">
                <div id="content245_2">
                    content
                </div>
                <div id="sidebar245_2">
                    sidebar
                </div>
            </div>
            <div id="footer245_2">
                footer
            </div>
        </div>

        <h2>246#1</h2>
        <div id="wrapper246_1">
            <div id="header246_1">
                header
            </div>
            <div id="container246_1">
                <div id="left246_1">
                    left sidebar
                </div>
                <div id="content246_1">
                    content
                </div>
                <div id="right246_1">
                    right sidebar
                </div>
            </div>
            <div id="footer246_1">
                footer
            </div>
        </div>

        <h2>246#2</h2>
        <div id="wrapper246_2">
            <div id="header246_2">
                header
            </div>
            <div id="container246_2">
                <div id="left246_2">
                    left sidebar
                </div>
                <div id="content246_2">
                    content
                </div>
                <div id="right246_2">
                    right sidebar
                </div>
            </div>
            <div id="footer246_2">
                footer
            </div>
        </div>  

        <h2>246#3</h2>
        <div id="wrapper246_3">
            <div id="header246_3">
                header
            </div>
            <div id="container246_3">
                <div id="content245_3">
                    content
                </div>
                <div id="left246_3">
                    left sidebar
                </div>
                <div id="right246_3">
                    right sidebar
                </div>
            </div>
            <div id="footer246_3">
                footer
            </div>
        </div>

        <h2>248#1 </h2>
        <div id="wrapper248">
            <header>
                <nav>
                    <a href="https://yandex.ru/images/search?from=tabbar&img_url=https%3A%2F%2Fimg.buzzfeed.com%2Fbuzzfeed-static%2Fstatic%2F2020-08%2F27%2F19%2Fasset%2F0b98b98804e1%2Fsub-buzz-552-1598556191-16.png&lr=28319&pos=0&rpt=simage&text=мулан%20">Галерея</a>
                    <a href="https://disney.fandom.com/ru/wiki/Мулан">Информация</a>
                    <a href="https://mulan-film.ru/mulan-vse-chasti/">Мультфильм</a>
                </nav>
            </header>
            <div id="container248">
                <aside>
                    <b>Мулан</b>(англ. <i>Mulan</i>) — главный персонаж одноименного диснеевского полнометражного мультфильма 1998 года.
                    <p><b>Информация о персонаже</b></p>
                    <p><b>Место жительства: </b> Китай </p>
                    <p><b>Пол: </b> женский </p>
                    <p><b>Род занятий: </b> Военнослужащая, воин </p>
                    <p><b>Звание: </b> солдат </p>
                    
                    <b>Другие Персонажи:</b>  
                    <ol>
                        <li>Мушу</li>
                        <li> Кри-Ки</li>
                        <li>Ли Шанг</li>
                        <li>Шань-Ю</li>
                    </ol>
                </aside>
                <main>
                    <p>
                        <img id="img248" src="https://avatars.mds.yandex.net/get-mpic/5319329/img_id4270724670692855052.jpeg/orig"  height="160" width="190">
                        <b>Мулан </b>- Фа Мулан (англ. Fa Mulan; кит. трад. 花木蘭) — вымышленный персонаж и главная героиня одноимённого полнометражного мультфильма студии Disney 1998 года. Мулан основана на легендарной китайской героине Хуа Мулань из баллады «Песнь о Мулань». Единственный ребёнок стареющего ветерана войны, Мулан, игнорирует как традиции, так и закон, маскируется под мужчину, чтобы попасть в армию вместо своего отца. 
                    </p>
                    <p>
                       <b>Внешность: </b> 
                       <p></p>
                       <b>Волосы.</b> В начале мультфильма у Мулан чёрные, густые и длинные волосы, которые обычно не собираются в причёску. Затем, отправившись на войну, она обрезала их по плечи и стала собирать в гульку. 
                       <p></p>
                       <b>Глаза.</b> Карие и немного раскосые, как и у всех представителей китайской нации. 
                       Обычно Мулан одевается в лёгкое, длинное жёлтое платье, зелёную накидку, которую повязывает широким синим поясом и более узким красным. Когда была на войне, то была одета в стандартную воинскую одежду того времени. 
</p>
<p> <b>Интересный факт:</b> 
    <p>Дисней изначально задумывал Мулан как угнетённую молодую китаянку, которая в конечном итоге сбегает в Европу, чтобы быть с британским принцем. Однако режиссёр Тони Бэнкрофт, вдохновлённый благополучием собственных дочерей, хотел, чтобы Мулан была другой, уникальной героиней Диснея — сильной и независимой, чья судьба не зависит от мужского персонажа. Таким образом, отношения между Мулан и капитаном Ли Шангом были сокращены до незначительного сюжета, в то время как храбрость и сила Мулан были подчёркнуты, чтобы она оставалась героем своей собственной истории. Мулан — восьмая официальная принцесса Disney и единственная героиня данной франшизы, которая не является фактической принцессой ни по рождению, ни по замужеству. Аниматором Мулан был Марк Хенн, который намеренно спроектировал персонажа так, чтобы он казался менее женственным, чем её предшественники.</p>
    </p>
                </main>
            </div>
            <footer>
             <i>«Цветок, который расцветает в тяжёлые времена — самый редкий и прекрасный из всех.»</i>
            </footer>
        </div>



        <h2>249#1</h2>
        <div id="task249_1 ">
            <header>
                <h1>Ангел</h1>
            </header>
            <div id="content249_1">
                <section>
                    <h2>Ангел из мульстериала Лило и Стич</h2>
                    <img id="img249" src="https://i.pinimg.com/736x/65/07/7f/65077f14e17de20b1ad998e3bf4fe8ce.jpg"  height="163" width="200">
                    <p>
                        <b>Ангел (эксперимент 624)</b> — фиолетово-розовый монстр из цикла «Лило и Стич», впервые появившийся в мультсериале «Lilo & Stitch: The Series». Является подругой и любовью Стича (эксперимент 626).
                    </p>
                    <p></p>
                        <b>Способности:</b> Ангел исполняет песню, которая перетягивает хорошего персонажа на сторону зла. Пение задом наперёд возвращает всё на свои места. 
                    <p>Как и Стич, Ангел может ползать по стенам и ходить по потолкам. У неё выдвижные когти на передних и задних лапах, а также длинные усики-антенны, которые она использует, чтобы нажимать кнопки и брать предметы, до которых не достаёт руками. </p>
                    
                        <p> Ангел достаточно сильна, чтобы разбить стекло ёмкостей-ловушек. Говорит на Tantalog (язык Стича), а также использует мурлыканье, рычание, стоны и вздохи.</p>
        
                    </section>
                
            </div>
            <footer>
                <p>&copy; 2024 Сайт о "Лило и Стич"</p>
            </footer>
        </div>
       
       

    </body>
    </html>
