
.parent {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: justify;
}

.child1, .child2 {
    float: right;
    width: 130px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid green;
    text-align: center;
}

