p {
	color: rgb(60, 152, 199);
}

h1{
    color: #491f5f;
}

h2{
    color: #c914d5;
}

h3{
    color: rgb(236, 8, 172)
}

h4{
    color: #2a8084
}

ul{
    color: rgb(206, 71, 154)
}

ol{
    color: #99f
}

b{
    color:rgb(58, 45, 251)
}