/*task90#1-2*/
#blue{
    width:200px;
    height: 200px;
    background-color: rgb(103, 103, 218);
}
#green{
    width: 300px;
    height: 200px;
    color:white;
    text-align: center;
    font-size: 30px;
    background-color: rgb(64, 210, 146);
}
/*task92#1*/
#line{
    border-width: 5px;
    border-style: solid;
    border-color:blue;
    width: 300px;
    height: 200px;
}
/*task93#1*/
#red_dotted{
    border-style: dotted;
    border-width: 5px;
    border-color:red;
    width: 300px;
    height: 200px;
}
/*task94#1*/
#orange_dashed{
    border-style: dashed;
    border-width: 2px;
    border-color:orange;
    width: 300px;
    height: 200px;
}
/*task96#1*/
#blue_double{
    border-style: double;
    border-width: 10px;
    border-color: blue;
    width: 300px;
    height: 200px;
}
/*task97#1-4*/
#elem97_1{
    border: 1px solid red;
    width: 300px;
    height: 200px;
}
#elem97_2{
    border: 1px dotted blue;
    width: 300px;
    height: 200px;
}
#elem97_3{
    border: 3px dashed green;
    width: 300px;
    height: 200px;
}
#elem97_4{
    border: 5px double orange;
    width: 300px;
    height: 200px;
}
/*task98#1-2*/
#elem98_1{
    width: 300px;
    height: 200px;
    border-top: 3px solid blue;
    border-left: 3px solid orange;
    border-bottom: 3px solid red;
    border-right: 3px solid green;
}
#elem98_2{
    width: 300px;
    height: 200px;
    border-top: 1px solid blue;
    border-left: 3px solid red;
    border-bottom: 1px solid blue;;
    border-right: 3px dotted green;
}
/*task99#1*/
#elem99_1{
    width: 200px;
    height: 200px;
    border:1px green solid;
    border-radius: 20px;
}
/*task100#1*/
#elem100_1{
    width: 200px;
    height: 200px;
    background-color: rgb(131, 211, 168);
    border-radius: 20px;
}
/*task101#1*/
#elem101_1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: solid green 1px;
}
/*task103#1*/
#elem103_1{
    width: 200px;
    height: 200px;
    border:1px green solid;
    border-radius:10px 20px 30px 45px;
}
/*task104#1*/
#elem104_1{
    width: 200px;
    height: 200px;
    border:1px green solid;
    border-radius:10px 40px;
}
/*task105#1*/
#elem105_1{
    width: 200px;
    height: 200px;
    border:1px green solid;
    border-radius:10px 30px 20px;
}
/*task107#1*/
#elem107_1{
    width: 100px;
    height: 100px;
    border:1px green solid;
    border-radius:50%;
}