<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Myavka</title>
</head>
<body>
    <h2>241#1</h2>
    <div id = "menu241_1">
        <a href="#"> home </a>
        <a href="#" class = "active"> blog </a>
        <a href="#"> photos </a>
        <a href="#"> about us </a>
        <a href="#"> contacts </a>
    </div>

    <h2>242#1</h2>
    <div id = "menu241_2">
        <a href="#"> home </a>
        <a href="#" class = "active"> blog </a>
        <a href="#"> photos </a>
        <a href="#"> about us </a>
        <a href="#"> contacts </a>
    </div>

    <h2>242#2</h2>
    <div id="wrapper242_2">
        <div id="container242_2">
            <div id = "menu242_2">
                <a href="#"> home </a>
                <a href="#" class = "active"> blog </a>
                <a href="#"> photos </a>
                <a href="#"> about us </a>
                <a href="#"> contacts </a>
            </div>
            <div id = "task242_2">
                <h1>Vestibulum ante ipsum</h1>
                <p>
                    Vestibulum ante ipsum primis <a href>in faucibus orci luctus</a> et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Proin eu fermentum diam, vitae faucibus ligula. Nam nec risus sed nisi porttitor ullamcorper iaculis ac nulla. 
                    Sed condimentum nisi in tincidunt adipiscing. Mauris vehicula mollis consequat. Vivamus non accumsan tortor. Aliquam dictum justo et augue viverra, vel interdum lorem pharetra.
                </p>
                <p> 
                    Nullam id faucibus ante. <a href>Proin tristique lorem</a> tristique dolor porttitor, eget adipiscing leo gravida.
                    Proin erat erat, laoreet sit amet tincidunt ac, iaculis nec libero. In placerat odio ac dapibus faucibus. 
                    Praesent ut est in ligula facilisis congue eget ac ante. Phasellus at felis vitae est molestie ultricies.
                </p>
                <h2>Vestibulum ante</h2>
                <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <a href>Pellentesque</a> habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    Proin eu fermentum diam, vitae faucibus ligula. Nam nec risus sed nisi porttitor ullamcorper iaculis ac nulla. 
                    Sed condimentum nisi in tincidunt adipiscing. Mauris vehicula mollis consequat. Vivamus non accumsan tortor. 
                    Aliquam dictum justo et augue viverra, vel interdum lorem pharetra.
                </p>
                <p> 
                    Duis vel dapibus nulla. <a href>Sed scelerisque</a> porttitor rhoncus. Nunc eleifend eget nulla sed malesuada. 
                    Vestibulum vestibulum ullamcorper lacus, ut ullamcorper tortor convallis quis. Mauris id eleifend nisi. 
                    Vivamus at dolor magna. Nulla eleifend odio sit amet nisl semper, id suscipit ligula semper. Nunc leo risus, ullamcorper quis ullamcorper nec, adipiscing et nisl.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vestibulum nibh vel magna iaculis, et porttitor massa egestas. 
                    Aliquam sodales tincidunt mi ac semper. Nam dignissim lectus elit, nec pharetra ligula suscipit quis.
                </p>
            </div>
        </div>
        </div>
    </div>
    <div id="footer242_2">
        <a href="#">Scelerisque</a>
        <a href="#">Rhoncus</a>
        <a href="#">Proin</a>
        <a href="#">Tristique</a>
        <a href="#">Faucibus</a>
    </div>

    <h2>243#1</h2>
    <div id="header" class="wrapper243">
        <div class="center">
            <h1>Любые виды ремонтных работ</h1>
            <p>
                Выезд специалиста, замер и смета работ бесплатно
            </p>
            <p>
                Бесплатный дизайн проект
            </p>
            <p>
                Гарантия 3 года
            </p>
        </div>
    </div>
    <div id="services" class="wrapper242">
        <div class="center">
            <h2>Наши услуги</h2>
            <ol>
                <li>
                    Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt.
                </li>
                <li>	
                    Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
                </li>
                <li>
                    Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus.
                </li>
                <li>
                    Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque.
                </li>
            </ol>
        </div>
    </div>
    <div id="contacts" class="wrapper243">
        <div class="center">
            <h2>Наши контакты</h2>
            <p>
                Телефоны: +375 29 335 29 38 МТС, +375 31 335 29 38 Velcom
            </p>
        </div>
    </div>
    <div id="company" class="wrapper243">
        <div class="center">
            <h2>Наша компания</h2>
            <p>
                Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum. Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue dui accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in, iaculis magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.
            </p>
            <p>
                Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna tempor augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus. Nunc finibus non massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque.
            </p>
        </div>
    </div>
    <div id="footer243" class="wrapper243">
        <div class="center">
            Строительная компания "Рога и копыта" ©
            Все права более чем защищены.
        </div>
    </div>
</div>
</body>
</html>