h1{
    color:rgb(58, 173, 58);
    }
    
h2{
    color: rgb(45, 45, 151);
    }
    
h3{
    color: rgb(110, 32, 32);
    }

h4{
    color: rgb(148, 28, 84);
}

h5{
    color: rgb(182, 45, 0);
}

ol{
    color: #1000fa;
}

b{
    color: #c600ab
}

ul{
    color: #ae2150
}
   
i{
    color: #b031b9
}