.parent159_1 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
}
.parent159_2{
	padding: 10px 10px;
	border: 1px solid red;
    text-align: right;
}

.parent161 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
}

.child161 {
	display: inline-block;
    padding: 10px;
    border: 1px solid green;
    margin: 5px;
}
.parent162_1 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
}
.child162_1 {
    display:inline-block;
    
	padding: 10px;
	border: 1px solid green;
}
.parent162_2 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
    padding-right: 10px;
}
.child162_2 {
    display:inline-block;
	padding: 10px;
	border: 1px solid green;
    
}
.parent162_3 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;

}
.child162_3 {
    display:inline-block;
	padding: 10px;
	border: 1px solid green;
    margin-right: 10px;
}
.parent162_4 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
}
.child162_4 {
    display: inline-block;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
}
.parent162_5 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
}
.child162_5 {
    display: inline-block;
	width: 100px;
	padding: 10px;
	border: 1px solid green;
    text-align: center; 
}
.parent163{
	display: flex;
	border: red 1px solid;
	height:300px;
}
.child163{
	border: green 1px solid;
	width: 100px;
	height:50px;
	margin-bottom: 20px;
}
.parent164{
	display: flex;
	border: red 1px solid;
	width: 900px;
}
.child164{
	border: green 1px solid;
	width: 120px;
	height:90px;
}
.parent165	{
	display: flex;
	border: 1px solid red;
}
.child165 {
	width: 120px;
	height: 70px;
	border: 1px solid green;
}
.parent166	{
	display: inline-flex;
	border: 1px solid red;
}
.child166 {
	width: 100px;
	height: 60px;
	border: 1px solid green;
}
.parent167	{
	display: inline-flex;
	padding: 20px;
	border: 1px solid red;
}
.child167 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent168	{
	display: inline-flex;
	border: 1px solid red;
}
.child168 {
	margin: 30px;
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent170 {
	display: flex;
	justify-content: center;
	height:400px;
	width:900px;
	border:1px red solid;
}
.child170 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent171 {
	display: flex;
	justify-content: space-between;
	height:200px;
	width:900px;
	border:1px red solid;
}
.child171 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}
.parent172 {
	display: flex;
	justify-content: space-around;
	height:200px;
	width:900px;
	border:1px red solid;
}
.child172 {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}