#elem {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
    background-color: palevioletred;
    
    font: rgb(255, 255, 255);
    font-size: large;
    text-align: center;
}
#content {
	margin: 100px auto;
	width: 600px;
	text-align: justify;
	font: 16px ;
    border: 1px solid rgb(204, 0, 34);
    padding: 15px;
  
}
#content p{
    text-indent: 30px;
}
body{
    background-color: pink;
}