.task112 ul{
    list-style-type: square;
}
.task113 ul{
    list-style-type: circle;
}
.task115 ul{
    list-style-type: none;
}
.task117 ol {
	list-style-type: lower-roman;
}
.task118 ol {
	list-style-type: upper-roman;
}
.task119 ol{
    list-style-type: lower-alpha;
}