/*task90#1-2*/
#blue{
    width:200px;
    height: 200px;
    background-color: rgb(103, 103, 218);
}
#green{
    width: 300px;
    height: 200px;
    color:white;
    text-align: center;
    font-size: 30px;
    background-color: rgb(64, 210, 146);
}
/*task92#1*/
#line{
    border-width: 5px;
    border-style: solid;
    border-color:blue;
    width: 300px;
    height: 200px;
}
/*task93#1*/
#red_dotted{
    border-style: dotted;
    border-width: 5px;
    border-color:red;
    width: 300px;
    height: 200px;
}
/*task94#1*/
#orange_dashed{
    border-style: dashed;
    border-width: 2px;
    border-color:orange;
    width: 300px;
    height: 200px;
}
/*task96#1*/
#blue_double{
    border-style: double;
    border-width: 10px;
    border-color: blue;
    width: 300px;
    height: 200px;
}
/*task97#1-4*/
#elem97_1{
    border: 1px solid red;
    width: 300px;
    height: 200px;
}
#elem97_2{
    border: 1px dotted blue;
    width: 300px;
    height: 200px;
}
#elem97_3{
    border: 3px dashed green;
    width: 300px;
    height: 200px;
}
#elem97_4{
    border: 5px double orange;
    width: 300px;
    height: 200px;
}