h1{
    width: 500px;
    text-align: center;
    font-size: 40px;
    color: blue;
}

h2{
    color: green;
    font-family: "Times New Roman";
    font-weight: normal ;
    width: 500px;
    text-align: center;
    font-size: 30px;
}
p{
    font: 16px Arial;
    text-indent: 40px;
    text-align: left;
    width: 500px;
    text-align: justify;
    line-height: 25px;
}

i{
    color: green;
   
}

li{
    width: 400px;
    text-align: justify;
}