.task123_1_1{
    border: 1px blue dashed;
    width: 400px;
}
.task123_1_2{
    border:1px orange solid;
    height: 320px;
    margin:45px;
    
}
.task123_2_1{
    border: 1px blue dashed;
    width: 300px;
}
.task123_2_2{
    border:1px green dashed;
    height:200px;
    margin:20px;
}
.task123_2_3{
    border:1px red solid;
    height:150px;
    margin:20px;
}
.task124_1p{
    width:170px;
    border:1px solid red;
}
.task124_1c{
    margin-top:    40px; 
	margin-right:  40px; 
	margin-bottom: 80px;
	margin-left:   40px; 
	
    height: 85px;
    border:1px solid green;
}
.task124_2p{
    width:170px;
    border:1px solid red;
}
.task124_2c{
    margin-top:    37px; 
	margin-right:  20px; 
	margin-bottom: 37px;
	margin-left:   20px; 
	
    height: 150px;
    border:1px solid green;
}
.task124_3p{
    width:170px;
    border:1px solid red;
}
.task124_3c{
    margin-top:    15px; 
	margin-right:  60px; 
	margin-bottom: 15px;
	margin-left:   60px; 
	
    height: 100px;
    border:1px solid green;
}
.task126_1p{
    width: 200px;
    border: 1px solid orange;
}
.task126_1c{
    margin: 25px 50px 100px 10px;
    height: 50px;
    border: 1px dashed blue;
}
